body{
    background-image: url(../images/Fundo.PNG);
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
}

#banner{
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

main{
    align-items: center;
    background-color: #FF9C87;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    margin: 10vw;
}

main h1{
    color: white;
    font-size: 2rem;
    font-weight: 0;
    text-align: center;
}

#games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#games a{
    color: white;
    padding: 5%;
    text-align: center;
    text-decoration: none;
}

#games img{
    width: 100%;
}

@media (min-width: 992px) and (max-heigth: 992px) { 
    #games{
        justify-content: space-evenly;
    }
    #games a{
        width: 40%;
    }
}